# Dependencies
node_modules/

# Build files
build/

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Temporary files
*.tmp
*.log
